a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

pre {
  font-family: Roboto, sans-serif;
  overflow-y: auto;
}

.container {
  padding: 56px 8px 56px 8px;
}

.dashboard {
}

.home {
}
