
html {
	font-family: Roboto, sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
h1 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
}
h4 {
	font-weight: normal;
}
pre {
	font-family: Roboto, sans-serif;
	overflow-y: auto;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.container {
	padding: 64px 8px 56px;
}

.dashboard {
}

.home {
}

.footer {
	padding: 20px 50px;
	background-color: #000;
	font-size: 0.8em;
	color: #fff;

	ul {
		list-style-type: none;
    padding: 0;
	}

  a {
		color: #fff;
	}

  #toplink {
		text-align: center;
	}
}
form.followUp {
	margin-top: 1em;
}

/* Meeting slider right to left */
.meetingSlideRightToLeft-enter {
	transform: translate(100%);
}

.meetingSlideRightToLeft-enter.meetingSlideRightToLeft-enter-active {
	transform: translate(0%);
	transition: transform 300ms ease-in-out;
}

.meetingSlideRightToLeft-leave {
	transform: translate(0%);
}

.meetingSlideRightToLeft-leave.meetingSlideRightToLeft-leave-active {
	transform: translate(-100%);
	transition: transform 300ms ease-in-out;
}

/* Meeting slider left to right*/
.meetingSlideLeftToRight-enter {
	transform: translate(0%);
}

.meetingSlideLeftToRight-enter.meetingSlideLeftToRight-enter-active {
	transform: translate(100%);
	transition: transform 300ms ease-in-out;
}

.meetingSlideLeftToRight-leave {
	transform: translate(100%);
}

.meetingSlideRightToLeft-leave.meetingSlideRightToLeft-leave-active {
	transform: translate(0%);
	transition: transform 300ms ease-in-out;
}

.public-DraftEditor-content { min-height: 150px; }

.ellipsisListItem {
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	width: 90%;
}